<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses Confirm</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'courses/style.css' %}">
</head>
<body>
    <h2>Are you sure you want to delete the following course?</h2>
    <p><strong>Name: </strong>{{ course.name }}</p>
    <p><strong>Description: </strong>{{ course.desc }}</p>
    <a href="/"><button type="">ah Hell NO!</button></a><a href="/courses/{{ course.id }}/delete"><button>Yeah Boi! this class is whack!</button></a>
</body>
</html>
