<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration Success</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'registration/style.css' %}">
</head>
<body>
    <h1>Success! Welcome, {{ user.first_name }}!</h1>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <!-- <h4>Successfully registered (or logged in)!</h4> -->
</body>
</html>
